HANDLER_SERVICE__PORT=

S3__HOST=
S3__PORT=
S3__USERNAME=
S3__PASSWORD=

KAFKA__HOST=
KAFKA__PORT=

DB__HOST=
DB__PORT=
DB__USERNAME=
DB__PASSWORD=
DB__DATABASE_NAME=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
